{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Notatka{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-9">
        Czy na pewno chcesz usunąć notatkę?
        <form action="{% url 'note-delete' note_id=note.id %}" method="POST">
        {% csrf_token %}
        {{ note.title }}
        <button type="submit" class="btn">
            Tak, usuń.
        </button>
        <a href="{% url 'note' note_id=note.id %}">No, cancel.</a>
        </form>
    </div>
</div>

{% endblock %}


