{% block top_menu %}
    <nav class="navbar navbar-default navbar-collapse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="font-size: 2em;">Organizer</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="/notes">Notatki</a></li>
                        <li><a href="/contact">Kontakty</a></li>
                        <li><a href="/calendar">Kalendarz</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moje konto<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="myprofile">Mój profil</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Wyloguj się</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left navbar-right">
                        <input type="text" class="form-control col-lg-8" placeholder="Szukaj...">
                    </form>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logowanie<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="login">Zaloguj się</a></li>
                                <li class="divider"></li>
                                <li><a href="register">Rejestracja</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}