<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    {% load bootstrap3 %}
    {% load bootstrap_calendar %}
    {% load staticfiles %}
    {% bootstrap_css %}
    {% bootstrap_calendar_css %}

    <!--<link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" />-->
    <!-- <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}" />
    {% bootstrap_javascript %}

    {# TODO add language_code param to those tags and create pl.js file #}
    {% bootstrap_calendar_js %}
    {% bootstrap_calendar_init events_url="bootstrap-calendar" %}

    {% block custom_js %}{% endblock %}
    <style>
        body {
            padding-top: 50px;
        }
    </style>
    {% block custom_style %}
    {% endblock%}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include "organiser_app/top_menu.html" %}
<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>