{% extends "organiser_app/base.html" %}
{% load bootstrap3 %}
{% block title %}Notatka{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h1>Podgląd kontaktu</h1>
        <hr/>
        <div class="col-md-9">
            <h2>{{ contact }}</h2>
            <hr/>
            <div class="col-md-12">
                {% if contact.birthdate %}
                    <h3>Data urodzenia</h3>
                    {{ contact.birthdate }}
                    <hr>
                {% endif %}
                {% if contact.phone_number %}
                    <h3>Numer telefonu</h3>
                    {{ contact.phone_number }}
                    <hr>
                {% endif %}
                {% if contact.location %}
                    <h3>Adres zamieszkania</h3>
                    {{ contact.location }}
                    <hr>
                {% endif %}
                {% if contact.additional_info %}
                    <h3>Dodatkowe informacje</h3>
                    {{ contact.additional_info }}
                    <hr>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <br/>

            <div class="row top-buffer">
                <a href="{% url 'contact-edit' contact_id=contact.id %}" class="btn btn-info btn-block">
                    {% bootstrap_icon "edit" %} Edytuj
                </a>
                <a href="{% url 'contact-delete' contact_id=contact.id %}" class="btn btn-danger pull-right btn-block">
                    {% bootstrap_icon "remove" %} Usuń
                </a>
            </div>
        </div>
    </div>
{% endblock %}