{% extends "organiser_app/base.html" %}
{% load bootstrap3 %}
{% block title %}Wydarzenie z kalendarza{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h1>Podgląd wydarzenia</h1>
        <hr/>
        <div class="col-md-9">
            <h2><strong>{{ calendarevent.title }}</strong></h2>

            <h3>{{ calendarevent.start_date }}{% if calendarevent.end_date %}
                <small>do</small>         {{ calendarevent.end_date }}{% endif %}</h3>
            <hr/>
            <div class="col-md-12">
                {% if calendarevent.location %}
                    <h3>Miejsce wydarzenia:</h3>
                    {{ calendarevent.location }}
                {% endif %}
                {% if calendarevent.description %}
                    <hr/>
                    <h3>Opis wydarzenia:</h3>
                    {{ calendarevent.description }}
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="row top-buffer">
                <a href="{% url 'event-edit' event_id=calendarevent.id %}" class="btn btn-info btn-block">
                    {% bootstrap_icon "edit" %} Edytuj
                </a>
                <a href="{% url 'event-delete' event_id=calendarevent.id %}"
                   class="btn btn-danger pull-right btn-block">
                    {% bootstrap_icon "remove" %} Usuń
                </a>
            </div>
        </div>
    </div>
{% endblock %}