{% extends "organiser_app/base.html" %}
{% load bootstrap3 %}
{% block custom_style %}
     <style type="text/css">
          .bootstrap-datetimepicker-widget.dropdown-menu {
      background-color:#ad1d28;
    }
  </style> 
{% endblock%}
{% block title %}Notatka{% endblock %}
{% block content %}
    <div class="col-md-12">
        {{ form.media }}
        <h1>
            {% if not object %}
                Nowe wydarzenie
            {% else %}
                Edycja wydarzenia
            {% endif %}
        </h1>
        <hr/>
        <div class="col-md-5 col-md-offset-3">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <hr/>
                    <button type="submit" class="btn btn-primary pull-right">
                        {% bootstrap_icon 'save' %} Zapisz
                    </button>
                    <button type="reset" class="btn btn-danger">
                        {% bootstrap_icon "remove" %} Anuluj
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}