{% extends "organiser_app/base.html" %}
{% load bootstrap3 %}
{% block title %}Moje notatki{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h1>Moje notatki</h1>
        <hr/>
        {% for note in notes %}
{#            <a href="{% url 'note' note_id=note.id %}" class="list-group-item">#}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ note.title }}</strong>
                    </div>
                    <div class="panel-body">
                        {{ note.content|truncatewords:50 }}
                    </div>
                </div>
{#            </a>#}
        {% endfor %}
    </div>
{% endblock %}